.active-link{
    background-color: #555;
    padding:1rem 2rem;
    border-radius: .2rem;
    -webkit-border-radius: .2rem;
    -moz-border-radius: .2rem;
    -ms-border-radius: .2rem;
    -o-border-radius: .2rem;
}
@media(max-width:767px){
    .active-link{
    padding:.3rem .5rem;
}
}